body {
	background: url(/img/background.png);
}

#container{
	width: 100%;
	margin-left: auto;
	margin-right:auto;
}

#temp{
	margin-top: 50px;
	margin-bottom: 20px;
}

#wilg{
	margin-top: 20px;
	margin-bottom: 20px;
}

#myCanvas{
	width: 100%;
	height: 390px;
}

.btn{
	position: relative;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 50px;
	color: white;
	width: 50%;
	left: 25%;
	padding: 25px;
	margin-bottom: 30px;
	margin-top: 50px;
	border: 3px solid white;
	border-radius: 10px;
	background: none;
}

#tempPopup{
	display: none;
	border: 3px solid white;
	position: relative;
	color: white;
	width: 80%;
	left: 10%;
	background: none;
	height: 400px;
}

#wilgPopup{
	display: none;
	border: 3px solid white;
	position: relative;
	color: white;
	width: 80%;
	left: 10%;
	background: none;
	height: 400px;
}


.text{
	float: left;
	width: 95%;
	margin-top: 5px;
	margin-left: 10px;
}

.btn_close{
	float: left;
	height: 20px;
	width: 20px;
	margin-top: 5px;
	background: url(/img/close.png);
	background-size: cover;
	border: none;
}

#formDiv{
	align-items: center;
	color: #2ecc71;
	width: 400px;
	margin-left: 30px;
	margin-top: 10px;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 35px;
	padding: 30px;
	float: left;
}

#formText{
	margin-bottom: 15px;
	
}

#adminBtn{
	
	position: absolute;
	font-family: 'Josefin Sans', sans-serif;
	display: block;
	font-size: 40px;
	color: white;
	margin-top: 40px;
	right: 5%;
	padding: 25px;
	border: 3px solid white;
	border-radius: 10px;
	background: none;
	
}

#val{
	width: 300px;
	float: left;
	
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	-ms-appearance: none;
	
	margin-bottom: 10px;
	margin-right: 10px;
	
	appearance: none;
	padding: 10px;
	display: block;
	background: url(/img/select.png) no-repeat 97% center;
	background-color: #041542;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 18px;
	color: #fff;
	border: 2px solid #fff;
	border-radius: 4px;
}

.data{
	width: 300px;
	float: left;
	
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	-ms-appearance: none;
	
	margin-bottom: 10px;
	margin-right: 10px;
	
	appearance: none;
	padding: 10px;
	display: block;
	background: url(/img/select.png) no-repeat 97% center;
	background-color: #041542;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 18px;
	color: #fff;
	border: 2px solid #fff;
	border-radius: 4px;
	
}

#adminPanel{
	font-family: 'Josefin Sans', sans-serif;
	font-size: 50px;
	color: white;
	width: 25%;
	padding: 25px;
	margin-bottom: 30px;
	margin-top: 50px;
	border: 3px solid white;
	border-radius: 10px;
	background: none;
	float: left;
}

#reloadBtn{
	margin-left: 50px;
	margin-top: 10px;
	width: 300px;
	padding: 10px;
	background-color: #2ecc71;
	color: #041542;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 23px;
	border-radius: 4px;
	border: none;
}

#wyborDaty{
	display: none;
}