<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="css/home.css"/>
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
	<script src="js/home.js"></script>
	
</head>
<body onload="startWaiting()">
	
	<div id="container">
	
		<div id="logo">Przyłóż kartę, aby się zalogować</div>
		
		<div class="loading">
		
			<div class="obj"></div>
			<div class="obj"></div>
			<div class="obj"></div>
			<div class="obj"></div>
			<div class="obj"></div>
			<div class="obj"></div>
			<div class="obj"></div>
			<div class="obj"></div>	
			<div class="obj"></div>
			<div style="clear:both;"></div>
			
		</div>
		<div id="info">
			<button id="btn" onclick="document.getElementById('popup').style.display='block'"></button>
			<div id="popup"> 
				<div id="text">
                    Projekt systemu ostrzegającego przed ryzykiem wystąpienia pożaru w pomieszczeniu na podstawie
                    zebranych danych czujnika temperatury i wilgotności oraz czujnika gazów łatwo palnych.
				</div>
				<button id="btn_close" onclick="document.getElementById('popup').style.display='none'">
				</button>	
				<div style="clear:both;"></div>
			</div>
			
			<div style="clear:both;"></div>
		</div>
	</div>
	


</body>
</html>