<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Measurements</title>
    <link rel="stylesheet" href="css/measurements.css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <script src="js/measurements.js"></script>

</head>
<body onload="start()">
<div id="container">

    <div id="temp">
        <button class="btn" onclick="document.getElementById('tempPopup').style.display='block'">
            Wykres temperatury
        </button>
        <div id="tempPopup">
            <div class="text">
				<canvas id="myCanvas" height="80px"> </canvas>
			</div>
            <button class="btn_close" onclick="document.getElementById('tempPopup').style.display='none'">
                <div style="clear:both;"></div>
            </button>
        </div>
    </div>

    <div id="wilg">
        <button class="btn" onclick="document.getElementById('wilgPopup').style.display='block'">
            Wykres wilgotnosci
        </button>
        <div id="wilgPopup">
            <div class="text"> 
				<canvas id="myHumCanvas" height="80px"> </canvas>
			</div>
            <button class="btn_close" onclick="document.getElementById('wilgPopup').style.display='none'">
                <div style="clear:both;"></div>
            </button>
        </div>
    </div>

</div>
<script src="js/measurements.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
</body>
</html>

<!-- <canvas id="myCanvas" height="300" width="300"> -->